<button 
  class="telegram-login-button" 
  (click)="startTelegramLogin()">
  <img src="https://telegram.org/img/t_logo.png" alt="Telegram Logo">
  Log in with Telegram
</button>

<div class="telegram-user-info" *ngIf="userData">
  <h3>Telegram User Information</h3>
  
  <div class="user-profile">
    <div class="user-avatar" *ngIf="userData.photo_url">
      <img [src]="userData.photo_url" alt="User Avatar">
    </div>
    <div class="user-details">
      <h4>{{ userData.first_name }} {{ userData.last_name }}</h4>
      <p>{{'@' + userData.username }}</p>
    </div>
  </div>
  
  <div class="user-data-table">
    <table>
      <tbody>
        <tr>
          <th>ID:</th>
          <td>{{ userData.id }}</td>
        </tr>
        <tr>
          <th>First Name:</th>
          <td>{{ userData.first_name }}</td>
        </tr>
        <tr>
          <th>Last Name:</th>
          <td>{{ userData.last_name || 'Not provided' }}</td>
        </tr>
        <tr>
          <th>Username:</th>
          <td>{{ userData.username || 'Not provided' }}</td>
        </tr>
        <tr>
          <th>Photo URL:</th>
          <td>{{ userData.photo_url || 'Not provided' }}</td>
        </tr>
        <tr>
          <th>Auth Date:</th>
          <td>{{ userData.auth_date | date:'medium' }}</td>
        </tr>
        <tr>
          <th>Hash:</th>
          <td class="hash-value">{{ userData.hash }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="raw-data">
    <h4>Raw User Data:</h4>
    <pre>{{ userData | json }}</pre>
  </div>
</div>
